<h1 class="jquery">Hello jquery</h1>
<p>Find me in app/viwes/tests/top.html.erb</p>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag 'nature-1.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'nature-2.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'nature-3.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'nature-4.jpg' %>
    </div>
    <div class="swiper-slide">
      <%= image_tag 'nature-5.jpg' %>
    </div>
  </div>
  <!--ページネーション-->
  <div class="swiper-pagination"></div>
  <!--ナビゲーションボタン (前、次)-->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>